# Node modules
node_modules/

# Logs
logs/
*.log

# Build files
dist/
build/

# OS & IDE
.DS_Store
.vscode/
.idea/
.serverless/

# Coverage
coverage/

# Database or dump files
*.sqlite
*.dump

# Local debug & runtime
*.pid
*.seed

# Files
package-lock.json
.env.local
.env.*